/*
the following selects does a reset: selects every element, and sets properties to 0 value
 */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* every element will inherit box-sizing from the body, which is defined as border-box */
}

html {
    // this defines what 1 rem is
    font-size: 62.5%; /* 10 in order to simplify calculations relative to this: 1rem = 10px, 2rem = 20px ... */
}

body {
    box-sizing: border-box;
}
