.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -12rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.3),
      rgba($color-primary-dark, 0.3)
  ), url("../img/nat-5.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);  // skews the section for -7 degrees in the Y direction

  & > * {
    // selects all direct children,
    // and skews back for 7 degrees, so that the transform: skewY(-7deg) in the parent is cancelled
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -20rem;
  background-color: $color-gray-light-1;
  padding: 25rem 0 50rem 0;
}